#root {
  display: flex;
  flex-direction: column;
  background-color: var(--chrome-fg-color);
  color: var(--chrome-text-color);
  align-items: center;
}

#settings {
  width: 100%;
  overflow-y: auto;
  flex: 1 1 auto;
}

#settings-menu {
  width: 100px;
  padding-left: 6px;
  flex: 0 1 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 0 6px 0;
}

#settings-menu .menu-header {
  padding-top: 10px;
}

#settings-menu .menu-header * {
  text-align: center;
}

#settings-menu .menu-items {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  gap: 8px;
  overflow-y: auto;
}

#settings-menu .menu-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 20px;
}

#settings-menu .menu-item:hover {
  background-color: var(--control-hover-light-bg-color);
  backdrop-filter: var(--control-hover-light-bg-filter);
}

#settings-menu .menu-item[data-active] {
  background-color: var(--chrome-mid-color);
}

#settings-menu .menu-item .icon,
#settings-menu .menu-item .icon img,
#settings-menu .menu-item .icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  font-size: 30pt;
}

#version {
  width: 110%;
  padding: 0 10px 0 0;
  text-align: center;
  color: var(--chrome-bg-color);
  font-size: 9pt;
  white-space: nowrap;
  text-shadow: 1px 1px 1px var(--control-hover-layered-bg-color);
}

#settings-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
}

#settings-container .settings-content {
  flex: 1 1 auto;
  background-color: var(--content-bg-color);
  border-radius: 6px;
  padding: 20px;
  color: var(--content-text-color);
  width: 100%;
  overflow-y: auto;
}

#settings-container .settings {
  max-width: 700px;
}

#settings-container .tab-content .settings-group {
  border-radius: 0 0 6px 6px;
}
#settings-container .settings-group {
  margin-bottom: 10px;
  background-color: var(--content-fg-color);
  border-radius: 6px;
  padding: 20px;
}

#settings-container .settings-group div:last-child {
  margin-bottom: 0;
}

.form-items-scroller {
  overflow-y: auto;
  max-height: 300px;
}
.log-scroller {
  overflow-y: auto;
  max-height: 500px;
}
.log-scroller li,
.form-array-string-item {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.log-scroller li span:not(:first-child) {
  overflow-wrap: anywhere;
  user-select: text !important;
}
.form-array-string-item label {
  padding-right: 8px;
}
.form-array-string-item.add-new {
  margin-top: 8px;
}
.form-array-string-item button {
  width: 40px;
}

.form-row {
  align-items: center;
  margin-bottom: 2px;
}
.form-row label {
  margin: 0;
}
.form-check {
  display: flex;
  min-height: calc(1.8rem + 2px);
  align-items: center;
}
.form-check-label {
  margin-top: 3px;
}
/* not really supposed to use tehse combined like this but w/e */
.form-control.col {
  margin-left: 5px;
  margin-right: 5px;
}

.form-row-gap {
  display: flex;
  column-gap: 20px;
}

.kccp-mod,
.download-item {
  padding: 6px;
  margin-bottom: 0;
  min-height: 40px;
  border-radius: 6px;
  position: relative;
}
.download-item,
.download-item label {
  cursor: pointer;
}
.kccp-mod,
.download-info {
  display: flex;
  padding-left: 4px;
}
.kccp-mod:hover,
.download-item:hover {
  background: var(--content-hover-color);
}
.kccp-mod .kccp-mod-label,
.download-item .download-label {
  font-size: small;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.kccp-mod .kccp-mod-label label,
.download-item .download-label label {
  margin: 0;
}
.kccp-mod .controls,
.download-item .controls {
  display: flex;
  flex-wrap: nowrap;
}
.kccp-mod button,
.download-item button {
  margin-left: 2px;
  width: 28px;
  height: 28px;
  font-size: 8pt;
  display: none;
}
.kccp-mod:hover button,
.download-item:hover button {
  display: inline;
}
.download-item .download-progress {
  position: absolute;
  bottom: 4px;
  width: calc(100% - 90px);
  left: 9px;
}
.download-item .progress {
  height: 2px;
}
.subtext,
.download-info .bytes-received {
  opacity: 0.5;
  display: inline-flex;
  flex-wrap: nowrap;
}
.download-info .bytes-received label {
  margin-right: 4px;
}

h3 button {
  margin-top: -10px;
}

#background-processes {
  flex: 0 1 auto;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: -100px;
}

#background-processes .process {
  flex: 1 1 auto;
  padding-bottom: 20px;
}

#background-processes .process > div {
  margin: 2px;
}

#background-processes .process-text {
  display: flex;
  flex-direction: row;
}

#background-processes .process-name {
  flex: 1 1 auto;
}

#background-processes .process-phase {
  flex: 1 1 auto;
}

#background-processes .process-progress {
  flex: 0 1 auto;
}

#background-processes .progress-bar {
  background-color: var(--chrome-bg-color);
  width: 100%;
  transition: width 0.02s ease;
}

span.sensitive {
  position: relative;
}
span.sensitive > * {
  display: inline-block;
  min-width: 300px;
  filter: blur(5px);
  transition: filter 0.5s ease;
}
span.sensitive::after {
  pointer-events: none;
  position: absolute;
  left: 0;
  filter: none;
  content: 'Hold mouse button to show';
}
span.sensitive:active > *,
span.sensitive:focus > * {
  filter: none;
}
span.sensitive:active::after,
span.sensitive:focus::after {
  content: '';
}

input.sensitive {
  filter: blur(5px);
  transition: filter 0.5s ease;
}
input.sensitive:active,
input.sensitive:focus {
  filter: none;
}

.selectable {
  user-select: all;
}
