:root {
  /* electron-chrome-extensions colors */
  --browser-action-badge-outline: var(--tab-color);
  --control-hover-light-bg-color: #ffffff01;
  --control-hover-dark-bg-color: #ffffff01;
  --control-hover-layered-bg-color: #ffffff2f;
  --control-hover-active-bg-color: #ffffff3f;
}

#root.theme-electron-shell {
  --chrome-fg-color: #745c97;
  --chrome-mid-color: #544a79;
  --chrome-bg-color: #39375b;
}

/* monochrome themes */
#root.theme-noir {
  --chrome-fg-color: #404040;
  --chrome-mid-color: #303030;
  --chrome-bg-color: #202020;
}

#root.theme-haku {
  --chrome-fg-color: #f0f0f0;
  --chrome-mid-color: #d7d7d7;
  --chrome-bg-color: #d0d0d0;
}

/* dark themes */
#root.theme-damecon {
  --chrome-fg-color: #6e35ae;
  --chrome-mid-color: #552887;
  --chrome-bg-color: #3d1d61;
}

#root.theme-andra {
  --chrome-fg-color: #0c4c7c;
  --chrome-mid-color: #083a60;
  --chrome-bg-color: #062a46;
}

#root.theme-daybreak {
  --chrome-fg-color: #7d6180;
  --chrome-mid-color: #695069;
  --chrome-bg-color: #452c4b;
}

#root.theme-savatieri {
  --chrome-fg-color: #b04858;
  --chrome-mid-color: #7b343e;
  --chrome-bg-color: #612931;
}

#root.theme-souya {
  --chrome-fg-color: #db5e26;
  --chrome-mid-color: #b64d1e;
  --chrome-bg-color: #501514;
}

#root.theme-taiha {
  --chrome-fg-color: #aa1d17;
  --chrome-mid-color: #84141c;
  --chrome-bg-color: #410b13;
}

#root.theme-yasen {
  --chrome-fg-color: #1b2a41;
  --chrome-mid-color: #0c1821;
  --chrome-bg-color: #051017;
}

#root.theme-zuiun {
  --chrome-fg-color: #356b40;
  --chrome-mid-color: #204626;
  --chrome-bg-color: #142a1c;
}

/* light themes */
#root.theme-chuuha {
  --chrome-fg-color: #f1d3a7;
  --chrome-mid-color: #efb775;
  --chrome-bg-color: #e48e30;
}

#root.theme-cirrus {
  --chrome-fg-color: #f1e3e1;
  --chrome-mid-color: #dfcac7;
  --chrome-bg-color: #d5b2ac;
}

#root.theme-kazagumo {
  --chrome-fg-color: #e7f2ff;
  --chrome-mid-color: #c0eafe;
  --chrome-bg-color: #a0e2fe;
}

#root.theme-langley {
  --chrome-fg-color: #f5efff;
  --chrome-mid-color: #e5d9f2;
  --chrome-bg-color: #cdc1ff;
}

#root.theme-sagiri {
  --chrome-fg-color: #dddfe2;
  --chrome-mid-color: #bcc7d0;
  --chrome-bg-color: #aab0b6;
}

#root.theme-sakura {
  --chrome-fg-color: #ffe4e9;
  --chrome-mid-color: #f9cfd7;
  --chrome-bg-color: #eebac7;
}

#root.theme-sammy {
  --chrome-fg-color: #eef1ff;
  --chrome-mid-color: #dae7ff;
  --chrome-bg-color: #d2daff;
}

#root.theme-seafoam {
  --chrome-fg-color: #effce7;
  --chrome-mid-color: #d7f0ca;
  --chrome-bg-color: #cae8bd;
}

/* dark themes */
#root.theme-noir,
#root.theme-damecon,
#root.theme-andra,
#root.theme-daybreak,
#root.theme-savatieri,
#root.theme-souya,
#root.theme-taiha,
#root.theme-yasen,
#root.theme-zuiun {
  --chrome-text-color: #ececec;
  --control-text-color: #ecececc0;
  --control-hover-light-bg-filter: saturate(110%) brightness(110%);
  --control-hover-dark-bg-filter: saturate(110%) brightness(120%);
  --control-input-bg-color: var(--chrome-bg-color);
  --control-input-bg-filter: saturate(100%) brightness(75%);
}

/* light themes */
#root.theme-haku,
#root.theme-chuuha,
#root.theme-cirrus,
#root.theme-kazagumo,
#root.theme-langley,
#root.theme-sagiri,
#root.theme-sakura,
#root.theme-sammy,
#root.theme-seafoam {
  --chrome-text-color: #171717;
  --control-text-color: #171717c0;
  --control-hover-light-bg-filter: saturate(110%) brightness(105%);
  --control-hover-dark-bg-filter: saturate(110%) brightness(105%);
  --control-input-bg-color: var(--chrome-fg-color);
  --control-input-bg-filter: saturate(90%) brightness(110%);
}

@media (prefers-color-scheme: light) {
  :root {
    --content-bg-color: #f7f7f7;
    --content-fg-color: #ffffff;
    --content-hover-color: #7f7f7f0a;
    --content-text-color: #202020;
    --content-link-color: #1692f2;
    --content-link-color-hover: #1056b2;
    --content-link-color-active: #1692f2;
    --content-link-color-visited: #1692f2;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --content-bg-color: #323232;
    --content-fg-color: #3a3a3a;
    --content-hover-color: #7f7f7f0a;
    --content-text-color: #ececec;
    --content-link-color: #4db2ff;
    --content-link-color-hover: #80c8ff;
    --content-link-color-active: #4db2ff;
    --content-link-color-visited: #4db2ff;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--control-hover-layered-bg-color);
  background-clip: content-box;
  border: solid 3px transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--control-hover-active-bg-color);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--control-hover-layered-bg-color);
}

#settings-menu::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#settings-menu::-webkit-scrollbar-thumb {
  border: unset;
  border-radius: 3px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #ececec;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif;
  font-size: 16px;
}

a {
  color: var(--content-link-color);
}
a:hover {
  color: var(--content-link-color-hover);
}
a:active {
  color: var(--content-link-color-active);
}
a:visited {
  color: var(--content-link-color-visited);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
}

#topbar {
  flex: 0 1 auto;
  overflow-x: clip; /* don't scroll for the oversized tabstrip shadower */
  color: var(--chrome-text-color);
  background: var(--chrome-bg-color);
}

#root[data-display-mode='maximized'] #topbar {
  margin-top: -4px;
}

#topbar.tabui-hidden .toolbar {
  display: none;
}

/*----- TABS -----*/

#tabstrip {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  position: relative;
}

#tabstrip::after {
  content: '';
  z-index: 1;
  position: absolute;
  height: 110%; /* remove top shadow */
  width: 110%; /* remove left/right shadow */
  box-shadow: inset 0 0 4px 0 #0000007f;
  bottom: 0;
  pointer-events: none;
}

.tab-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding-left: 4px;
  z-index: 2;
}

#createtab {
  background: transparent;
  border: none;
  color: var(--control-text-color);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  min-width: 21px;
  width: 21px;
  border-radius: 3px;
  margin: 3px;
  margin-top: 5px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#createtab:hover {
  background: var(--control-hover-dark-bg-color);
  backdrop-filter: var(--control-hover-dark-bg-filter);
}

.tab-container {
  margin: 0px -6px 0 -6px;
  padding: 4px 6px 0 6px;
  position: relative;
  overflow: hidden;
  width: 12rem;
  min-width: 44px;
}

.tab-container.tab-compact {
  width: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
.tab-container.tab-compact .tab {
  flex: 1 1 auto;
  justify-content: center;
}
.tab-container.tab-compact .favicon[src] {
  margin: 0 !important;
}
.tab-container.tab-compact .title,
.tab-container.tab-compact .controls {
  display: none;
}

.app-tab-container {
  padding-left: 6px;
  display: flex;
}

#settings {
  display: flex;
}
#settings > iframe {
  flex: 1 1 auto;
  border: 0;
}

/*.app-icon {
  background-image: url('assets/icons/damecon_icon_48.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}*/

.tab {
  padding: 0.2rem 0.4rem;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.tab:hover {
  background-color: var(--control-hover-dark-bg-color);
  backdrop-filter: var(--control-hover-dark-bg-filter);
  z-index: 2;
}

.tab-container.tab-active .tab {
  background-color: var(--chrome-fg-color);
  backdrop-filter: none;
  z-index: 2;
}
.tab-container::after {
  content: '';
  pointer-events: none;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 6px;
  right: 6px;
  bottom: 0;
}
.tab-container.tab-active::after {
  margin: 4px 0 0 0;
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 0px 4px 0px #0000007f;
}

.tab-container.tab-separator-right::after {
  top: 8px;
  bottom: 5px;
  border-right: 1px solid var(--control-text-color);
  opacity: 0.75;
}

.tab .favicon[src] {
  width: 16px;
  height: 16px;
  margin-right: 0.2rem;
  pointer-events: none;
}

.tab .title {
  white-space: nowrap;
  flex: 1 1 auto;
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.725rem;
  user-select: none;
}

.tab .controls {
  flex: 0 0 auto;
  font-size: 0;
}

.tab .controls .control {
  background-color: transparent;
  border: none;
  border-radius: 20%;
  padding: 0;
  margin-left: 0.2rem;
  width: 1rem;
  height: 1rem;
  color: var(--control-text-color);
  font-size: 0.7rem;
  vertical-align: middle;
  line-height: 0;
}

.tab .controls .control.close {
  color: var(--control-text-color);
}

.tab .controls .control.close:hover,
.tab .controls .control.audio:hover {
  background-color: var(--control-hover-layered-bg-color);
}

.tab .tab-close > * {
  pointer-events: none;
}

.tab .controls .control:disabled {
  display: none;
}

.app-drag {
  -webkit-app-region: drag;
  height: 100%;
  min-width: 1rem;
  align-self: flex-end;
}

.app-drag-right {
  flex: 1 0 auto;
}

.window-controls {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.window-controls .control {
  width: 2.5rem;
  background: none;
  border: none;
  color: var(--control-text-color);
}

.window-controls .control .control-text {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.window-controls .control:hover {
  background: var(--control-hover-dark-bg-color);
  backdrop-filter: var(--control-hover-dark-bg-filter);
  color: white;
}

/*----- TOOLBAR -----*/

.toolbar {
  height: 1.875rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  position: relative;
  z-index: 3;
  background-color: var(--chrome-fg-color);
}

.toolbar[data-hidden] {
  display: none;
}

.toolbar .page-controls {
  margin-right: 0.5rem;
  white-space: nowrap;
}

.input-bar {
  flex: 1 1 auto;
  line-height: 0;
  height: 100%;
  position: relative;
}

.input-bar input,
.input-bar .input-backdrop {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2rem;
}

.find-bar input,
.find-bar .input-backdrop {
  border-radius: 2px;
}

.input-bar input {
  padding: 0 0.5rem;
  outline: none;
  background-color: transparent;
  color: var(--chrome-text-color);
  position: relative;
}

.input-bar input:focus {
  box-shadow: 0px 0px 1px 1px #bc96ff7f;
  color: var(--chrome-text-color);
}

.input-bar .input-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--chrome-mid-color);
}

.input-bar:focus-within .input-backdrop {
  background-color: var(--control-input-bg-color);
  filter: var(--control-input-bg-filter);
}

.toolbar .control {
  background: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  line-height: 0;
  color: var(--control-text-color);
}

.toolbar .control:hover {
  background: var(--control-hover-light-bg-color);
  backdrop-filter: var(--control-hover-dark-bg-filter);
  color: var(--control-text-color);
  border-radius: 3px;
}

.search-bar.toolbar {
  height: 100%;
  align-items: center;
  padding: 6px;
  gap: 8px;
}
.search-bar.toolbar label {
  font-size: small;
  margin-bottom: 2px;
}
.search-bar .input-bar {
  margin-right: 4px;
}
.search-bar.toolbar > div {
  display: flex;
}

#close:hover {
  background: red;
}

#actions {
  align-items: center;
  margin-left: 8px;
  column-gap: 2px;
}
browser-action-list::part(action) {
  background-size: 16px 16px;
}
browser-action-list::part(action):hover {
  background-color: var(--control-hover-light-bg-color);
  backdrop-filter: var(--control-hover-dark-bg-filter);
}

#zoom-presenter {
  position: fixed;
  align-self: center;
  border: 1px solid #ffffff7f;
  background: #000000ff;
  color: #ffffffaf;
  padding: 1px 4px 2px 4px;
  padding: 0;
  margin: 2px;
  z-index: 3;
  display: none;
}

.progress-circle {
  width: 24px;
  height: 24px;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='50%25' cy='50%25' r='45%25' fill='none' stroke='black' stroke-width='2'/%3e%3c/svg%3e");
  position: absolute;
}
.progress-content {
  background: conic-gradient(white 0% calc(var(--pct) * 1%), #ffffff1f calc(var(--pct) * 1%) 100%);
  width: 100%;
  height: 100%;
}

/*MacOS Modifications*/

.platform-macos #tabstrip {
  padding-left: 70px;
}

.platform-macos .window-controls .control#minimize,
.platform-macos .window-controls .control#maximize,
.platform-macos .window-controls .control#close {
  display: none;
}
